<%= form_tag url_for(action: 'update'), method: "post" do %>
	<%= label_tag 'Titre' %>
	<%= text_field_tag 'title', @gossip.title %>
	<br/><br/>

	<%= label_tag 'Ton potin' %>
	<%= text_field_tag 'content', @gossip.content %>
	<br/><br/>

	<%= submit_tag "Enregistrer les modifications" %>

	<%if @gossip.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<p> ca marche pas fils de pute. Surement à cause de ça:</p>
			<p><%=@gossip.errors.full_messages%></p>
		</div>

	<% end %>



<% end %>